PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
DB_AUTH_MODE=windows
DB_SERVER=MININT-94AU1JG\SQLEXPRESS
DB_NAME=Devlog
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
DB_PORT=4000
 
DATABASE_URL=DATABASE_URL="sqlserver://localhost\SQLEXPRESS;database=Devlog_db;integratedSecurity=true;trustServerCertificate=true;"