@font-face {
  font-family: "Standing Room Only";
  src: url("./assets/fonts/StandingRoomOnlyNF-4R56.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background: #4b0000;
  font-family: serif;
}


#root {
  min-height: 100vh;
  padding: 2rem;
  text-align: center;

  
  background: 
    repeating-linear-gradient(
      90deg,
      #5c0000 0px,
      #7a0000 40px,
      #5c0000 80px
    ),
    linear-gradient(
      to bottom,
      #6e0000,
      #3a0000
    );

  background-blend-mode: multiply;
  color: #f5e6c8; 
}



h1, h2 {
  font-family: "Standing Room Family", serif;
  color: #d7b807; 
  text-shadow: 0 0 8px rgba(255, 215, 0, 0.5);
}


a {
  color: #ffd700;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: white;               
  text-shadow: 0 0 10px gold; 

}